.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200;
  padding: 2rem;
  margin: 0 auto;
  gap: 1rem;
}
.title {
  font-size: 2rem;
}
.body__container {
  flex-grow: 1;
}

.container > .createdBy,
.createdAt {
  text-align: right;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.button__container {
  display: flex;
  gap: 2rem;
}
.textarea {
  overflow: hidden;
  resize: none;
  min-height: 400px;
  width: 100%;
}
